{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}All characters{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if posts %}<br />
{% for char in posts %}

<div class="char-item">
    <span>Id: </span>
    <span class="char-id">{{char['character_id']}}</span>
    <br />

    <span>Name: </span>
    <span class="char-name">{{char['name']}}</span>
    <br />

    <span>Max level: </span>
    <span class="char-num">{{char['max_level']}}</span>
    <br />

    <span>Frag-level 1: </span>
    <span class="char-num">{{char['frag1']}}</span>
    <br />

    <span>Prog-level 1: </span>
    <span class="char-num">{{char['prog1']}}</span>
    <br />

    <span>Overdrive-level 1: </span>
    <span class="char-num">{{char['overdrive1']}}</span>
    <br />

    <span>Frag-level 20: </span>
    <span class="char-num">{{char['frag20']}}</span>
    <br />

    <span>Prog-level 20: </span>
    <span class="char-num">{{char['prog20']}}</span>
    <br />

    <span>Overdrive-level 20: </span>
    <span class="char-num">{{char['overdrive20']}}</span>
    <br />

    <span>Frag-level 30: </span>
    <span class="char-num">{{char['frag30']}}</span>
    <br />

    <span>Prog-level 30: </span>
    <span class="char-num">{{char['prog30']}}</span>
    <br />

    <span>Overdrive-level 30: </span>
    <span class="char-num">{{char['overdrive30']}}</span>
    <br />

    <span>Skill id: </span>
    <span class="char-num">{{char['skill_id']}}</span>
    <br />

    <span>Skill unlock level: </span>
    <span class="char-num">{{char['skill_unlock_level']}}</span>
    <br />

    <span>Uncapped skill id: </span>
    <span class="char-num">{{char['skill_id_uncap']}}</span>
    <br />

    <span>Is uncapped: </span>
    <span class="char-num">{{char['is_uncapped']}}</span>
    <br />




</div>
{% if not loop.last %}
<br />
<hr />
<br />
{% endif %}
{% endfor %}

{% endif %}
{% endblock %}