{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}All players{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if posts %}
{% for user in posts %}

<div id="user-info">
    <div class="name">{{user['name']}}
        <span class="rank">UID: {{user['user_id']}}</span>
        <span class="rank">User code: {{user['user_code']}}</span>
        {% if user['ban_flag'] %}
        <span class="rank">Banned</span>
        {% endif %}
    </div>
    <div class="join-date">注册于 Registered in: {{user['join_date']}}</div>
    <div class="ptt">PTT: {{'%0.2f'|format(user['rating_ptt']/100|float)}}</div>
    <div class="ptt">Memories: {{user['ticket']}}</div>
    <div>
        <div>Recent plays: </div>
        <div>
            <div class="score-item">
                <span class="song-title">
                    {{user['song_id']}}
                </span>
                {% if user['difficulty'] == 0 %}
                <span class="difficulty_pst">PST</span>
                {% elif user['difficulty'] == 1 %}
                <span class="difficulty_prs">PRS</span>
                {% elif user['difficulty'] == 2 %}
                <span class="difficulty_ftr">FTR</span>
                {% else %}
                <span class="difficulty_byd">BYD</span>
                {% endif %}

                <div class="song-detail">
                    <br />
                    <table>
                        <tbody>
                            <tr>
                                <td>PURE: </td>
                                <td>{{user['perfect_count']}}</td>
                                <td> {{'(' ~ user['shiny_perfect_count'] ~ ')'}}</td>
                            </tr>
                            <tr>
                                <td>FAR: </td>
                                <td>{{user['near_count']}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>LOST: </td>
                                <td>{{user['miss_count']}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="song-score">{{user['score']}}</div>
                <div class="song-clear-type">
                    {% if user['clear_type'] == 3 %}Pure Memory
                    {% elif user['clear_type'] == 2 %}Full Recall
                    {% elif user['clear_type'] == 5 %}Hard Clear
                    {% elif user['clear_type'] == 1 %}Normal Clear
                    {% elif user['clear_type'] == 4 %}Easy Clear
                    {% else%}Track Lost
                    {% endif %}
                </div>
                <div class="song-rating">成绩评价 Rating: {{user['rating']}}</div>
                <div class="song-clear-date">日期 Date:
                    {{user['time_played']}}
                </div>
            </div>
        </div>
    </div>
</div>
{% if not loop.last %}
<hr />
<br />
{% endif %}
{% endfor %}

{% endif %}
{% endblock %}