{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Deliver presents{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="/web/deliverpresent" method="post">
    <div class="title">Deliver to the user</div>
    <label for="name">Arcaea Username</label>
    <input name="name" id="name">
    or<br />
    <label for="user_code">Arcaea User Code</label>
    <input name="user_code" id="user_code">
    <br />
    <br />

    <label for="present_id">ID of the present</label>
    <input name="present_id" id="present_id" required>

    <br />
    <input type="submit" value="Edit">
</form>
<br />
<hr />
<form action="/web/deliverpresent" method="post">
    <div class="title">Deliver to all the users</div>
    <label for="present_id">ID of the present</label>
    <input name="present_id" id="present_id" required>

    <input type="submit" value="Edit all">
</form>
{% endblock %}