{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Update databases{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <label for="name">Old database</label>
    <input type="file" name="file">
    <input type="submit" value="Submit">
</form>
<div class="content">
    这里可以将旧版本的数据库同步到新版本的数据库，并刷新用户拥有的角色列表。<br />
    可上传文件: arcaea_database.db和arcsong.db<br />
    新数据库不存在的数据会被添加，存在的重复数据也会被改变。<br /><br />
    Here you can synchronize the old version of the database to the new version of the database and refresh the list of
    characters owned by players.<br />
    Uploadable files: arcaea_database.db & arcsong.db<br />
    Data that does not exist in the new database will be added and the existing duplicate data will also be changed.
</div>
{% endblock %}