{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Update databases{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <label for="name">Old database</label>
    <input type="file" name="file">
    <input type="submit" value="Submit">
</form>
<div class="content">
    这里可以将旧版本的数据库同步到新版本的数据库，并刷新用户拥有的全角色列表。<br />
    可上传文件: arcaea_database.db<br />
    新数据库不存在的数据会被添加，存在的重复数据也会被改变。<br /><br />
    Here you can synchronize the old version of the database to the new version of the database and refresh the list of full
    characters owned by players.<br />
    Uploadable files: arcaea_database.db<br />
    Data that does not exist in the new database will be added and the existing duplicate data will also be changed.
</div>
<br />
<hr />
<form action="/web/updatedatabase/refreshsonghash" method="post">
    <div class="title">Refresh songs' hash</div>
    <br />
    <input type="submit" value="Refresh">

    <div class="content">这里可以刷新储存在数据库中的songs文件夹下所有文件的Hash值。目的是应对歌曲谱面文件的更新。</div>
    <div class="content">Here you can refresh the hash values of all the files stored in the songs folder in the
        database. The purpose is to deal with the updating of songs' files.</div>
</form>
<br />
<hr />
<form action="/web/updatedatabase/refreshsongrating" method="post">
    <div class="title">Refresh songs' rating</div>
    <br />
    <input type="submit" value="Refresh">

    <div class="content">这里可以刷新数据库中所有成绩的评分。目的是应对歌曲谱面定数的更新。</div>
    <div class="content">Here you can refresh the ratings of all scores in the database. The purpose is to deal
        with the updating of songs' chart consts.</div>
</form>
{% endblock %}