# log files
*.log
*.log.*

# SSL cert
*.pem
*.key

# sqlite3 database
*.db
*.db.bak*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# setting/config files
latest version/config/
latest version/config.py

# song data
latest version/database/songs/
latest version/database/bundle/

!latest version/database/bundle/README.md

# backup
latest version/database/backup/
