<!doctype html>
<title>{% block title %}{% endblock %} - Arcaea Server</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Arcaea Server</h1>
    <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('index.index') }}">Home</a>
        <li><a href="{{ url_for('login.logout') }}">Log Out</a> {% else %}
        <li><a href="{{ url_for('login.login') }}">Log In</a> {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %} {% block content %}{% endblock %}
</section>

<footer id="footer" class="footer">Made by Lost@2020-2022</footer>